section.quote {
	text-align: center;
	font-size: 15px; 
	color: black;
	font-family: 'Quicksand', sans-serif;
	_border: 1px solid red;
	margin: 0 auto;
	padding: 25px;
	position: relative;
    top: 32%;
    z-index: 1;
}