.profile {
	position: absolute;
    font-family: 'Quicksand', sans-serif;
    _border: 1px solid red;
    font-size: 16px;
    display: block;
    padding: 7px 7px 3px 7px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1;
    top: 2%;
    left: 1%;
}

.profile p, a {
	font-size: 16px;
	text-decoration: none;
	color: inherit;
}

img {
	width: 80px;
	height: 80px;
	border-radius: 50px;
    
}

.photo {
	display: inline;
	float: left;
}

.profileInfo {
	_border: 1px solid blue;
	display: inline-block;
	
}
.profileInfo div {
	margin-left: 8px;
	margin-right: 8px;
	padding-right: 10px;
}
.profileInfo p a span {
	font-weight: bold;
}

