.time {
    font-family: 'Inconsolata', monospace;
    font-size: 120px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 20px 20px;
    top: 28%;
    position: relative;
    z-index: 1;
}

.welcome {
	font-size: 20px;
}