section.search {
    display: inline-block;
    position: relative;
    width: 205px;
    text-align: center;
    z-index: 1;
    top: 50%;
    margin: 0 auto;

    & span.search-underline {
        position: absolute;
        top: 48px;
        left: 8px;
        right: 0;
        border-bottom: 2px solid #fff;
        opacity: 0;
        -webkit-transition: opacity .15s ease;
    
        &.active {
            opacity: 1;
        }
    }

    & input.search-input {
        height: 60px;
        padding: 20px 2px 20px 38px;
        z-index: 2;
        background: 0 0;
        border: none;
        color: #fff;
        line-height: 20px;
        outline: 0;
    }

    & i.search-icon {
        position: absolute;
        left: 15px;
        top: 0;
        z-index: 1;
        line-height: 57px;
        opacity: .8;
        color: white;
    }

}