div.forecast-icon {
  _float: left;
  display: inline-block;
  _padding-bottom: 2em;
  width: 6em;
  height: 6em;
  background-color: palegoldenrod; }
  div.forecast-icon ul {
    font-size: 14px;
    margin: 0;
    _margin: 7px 0;
    padding-left: 0;
    width: 100%;
    height: 100%; }
    div.forecast-icon ul li {
      list-style: none;
      _margin-bottom: 5px; }

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'ForecastFont';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  font-size: 6em; }

@media only screen and (min-width: 479px) and (max-width: 678px) {
  [class^="icon-"],
  [class*=" icon-"] {
    font-family: 'ForecastFont';
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased; } }
/* -----BaseCloud----- */
.basecloud:before {
  font-family: 'ForecastFont';
  font-size: 6em;
  content: '\f105';
  position: absolute;
  color: #cccccc; }

/* -----windyraincloud----- */
.windyraincloud:before {
  font-family: 'ForecastFont';
  font-size: 6em;
  content: '\f111';
  position: absolute;
  color: #cccccc; }

/* -----Windysnowcloud----- */
.windysnowcloud:before {
  font-family: 'ForecastFont';
  font-size: 6em;
  content: '\f109';
  position: absolute;
  color: #cccccc; }

/* -----Basethundercloud----- */
.basethundercloud:before {
  font-family: 'ForecastFont';
  font-size: 6em;
  content: '\f105';
  position: absolute;
  color: #000; }

/* -----Thunder----- */
.icon-thunder::before {
  content: "\f114";
  position: absolute;
  color: orange; }

/* -----Sunny----- */
.icon-sunny::after {
  content: "\f101";
  position: absolute;
  color: orange; }

/* -----Drizzle----- */
.icon-drizzle::before {
  content: "\f10a";
  position: absolute;
  color: #82b2e4; }

/* -----Hail----- */
.icon-hail::before {
  content: "\f10f";
  position: absolute;
  color: #cccccc; }

/* -----Showers----- */
.icon-showers::before {
  content: "\f104";
  position: absolute;
  color: #82b2e4; }

/* -----Rainy----- */
.icon-rainy::before {
  content: "\f107";
  position: absolute;
  color: #4681c3; }

/* -----Snowy----- */
.icon-snowy::before {
  content: "\f10b";
  position: absolute;
  color: #acd3f3; }

/* -----Frosty----- */
.icon-frosty::before {
  content: "\f102";
  position: absolute;
  color: #85d8f7; }

/* -----Windy----- */
.icon-windy::before {
  content: "\f115";
  position: absolute;
  color: #cccccc; }

/* -----WindyRain----- */
.icon-windyrain::before {
  content: "\f10e";
  position: absolute;
  color: #acd3f3; }

/* -----WindySnow----- */
.icon-windysnow::before {
  content: "\f103";
  position: absolute;
  color: #acd3f3; }

/* -----Sleet----- */
.icon-sleet::before {
  content: "\f10c";
  position: absolute;
  color: #acd3f3; }

/* -----Moon----- */
.icon-moon::after {
  content: "\f10d";
  position: absolute;
  color: orange; }

/* -----Night----- */
.icon-night::after {
  content: "\f100";
  position: absolute;
  color: orange; }

/* -----Sun----- */
.icon-sun::after {
  content: "\f113";
  position: absolute;
  color: orange; }

/* -----Cloud----- */
.icon-cloud::after {
  content: "\f106";
  position: absolute;
  color: #cccccc; }

/* -----Sunrise----- */
.icon-sunrise:before {
  content: '\f112';
  position: absolute;
  color: orange; }

/* -----Sunset----- */
.icon-sunset:before {
  content: '\f110';
  position: absolute;
  color: #f96f23; }

/* -----Mist----- */
.icon-mist:before {
  content: '\f108';
  position: absolute;
  color: #cccccc; }

/*# sourceMappingURL=ForecastIcon.css.map */
